aiocron==1.8
aiocsv==1.2.2
aiofiles==0.8.0
aiogram==3.0.0b3
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
APScheduler==3.9.1
async-generator==1.10
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.11.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
croniter==1.3.5
et-xmlfile==1.1.0
fake-useragent==0.1.11
Flask==2.1.2
frozenlist==1.3.0
greenlet==1.1.2
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.0
magic-filter==1.0.7
MarkupSafe==2.1.1
multidict==6.0.2
numpy==1.22.4
openpyxl==3.0.10
outcome==1.2.0
pandas==1.4.2
pycparser==2.21
pydantic==1.9.1
Pygments==2.12.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
trio==0.21.0
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
Werkzeug==2.1.2
yarl==1.7.2
